<div class="week-container">
	<div class="row week-row week-header">
		<% @week_days.each do |day, date| %>
			<div class="col-xs-1 week-day-header <% if (date == Time.now.beginning_of_day) %>week-day-today<% end %>"><%= day %><span class="week-day-date"><%= date.strftime("%d.%m.%Y") %></span></div>
		<% end %>
	</div>

	<div class="row week-row">
		<% @week_days.each do |day, date| %>
			<div class="col-xs-1 week-day">
				<% @week_data.where("start >= ? AND start <= ?", date.beginning_of_day, date.end_of_day).each do |w| %>
					<div class="week-day-session week-session-start-<%= w.start.hour %> week-session-length-<%= (w.duration/60/60).ceil %>">
						<span class="week-session-activity"><%= w.activity %> <%= link_to "i", work_session_path(w), class: "week-session-details" %></span>
						<span class="week-session-client"><%= w.project.client.name %></span>
						<span class="week-session-project"><%= w.project.name %></span>
						<span class="week-session-duration"><%= distance_of_time_in_words(w.duration) %></span>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>