<h1>Dashboard</h1>

<div class="row">
	<div class="col-sm-9">
		<div class="row">
			<div class="col-sm-4 text-left"><%= link_to '« Previous Week', week_path(year: @week_previous_year, week: @week_previous), remote: true, class: 'btn btn-default' %></div>
			<div class="col-sm-4 text-center"><%= link_to 'Today', week_path(year: @week_today_year, week: @week_today), remote: true, class: 'btn btn-default' %></div>
			<div class="col-sm-4 text-right"><%= link_to 'Next Week »', week_path(year: @week_today_year, week: @week_next), remote: true, class: 'btn btn-default' %></div>
		</div>
		<div class="row">
			<div class="col-sm-12" id="week_display">
				<%= render partial: "week", locals: {:week_days => @week_days} %>
			</div>
		</div>
	</div>

	<div class="col-sm-3">
		<h3>Projects</h3>
		<ul>
		<% if !@clients.blank? %>
		  <% for item in @clients %>
		    <li><strong><%= item.name %></strong>
		    <% if !item.projects.blank? %>
		    	<ul>
		      <% for proj in item.projects %>
					<li><%= proj.name %><br><span class="text-muted">(<%= distance_of_time_in_words(proj.spent_seconds) %>)</span></li>
		      <% end %>
		      	</ul>
		    <% end %>
		    </li>
		  <% end %>
		<% else %>
		  <li><span class="warning">No clients yet.</span><br><%= link_to "Add client", new_client_url %>
		<% end %>
		</ul>
	</div>
</div>