<%= form_for(@work_session) do |f| %>
  <% if @work_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_session.errors.count, "error") %> prohibited this work_session from being saved:</h2>

      <ul>
      <% @work_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %><br>
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.datetime_select :end %>
  </div>
  <div class="field">
    <%= f.label :project %><br>
    <%= f.text_field :project %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
